@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: inter;
}

.sidebar {
  width: 250px;
  height: 100vh;
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}

.main-content {
  background-color: white;
  padding: 80px 80px 40px 80px;
  height: 100vh;
  margin-left: 250px;
  width: calc(100vw - 250px);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
}
.add-chat {
  background-color: black;
  color: white;
  border-radius: 10px;
  justify-content: center;
  padding: 7px 10px;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 300;
}
.add-chat img {
  filter: invert(1);
  height: 20px;
}
.add-chat,
.chat-text {
  display: flex;
  gap: 4px;
  align-items: center;
  padding: 5px;
}
.chat-text {
  margin-bottom: 10px;
  font-size: 13px;
}
.chat-text img {
  height: 20px;
}
.sidebar-bottom div {
  display: flex;
  gap: 9px;
  align-items: center;
  padding: 5px;
  margin-bottom: 6px;
  font-size: 13px;
}
.sidebar-bottom img {
  height: 20px;
}
.main-content-title img {
  height: 70px;
}
.main-content-title p {
  font-size: 45px;
  font-weight: 500;
}
.main-content-title span {
  font-size: 15px;
  font-weight: 400;
  background-color: #c6c7f8;
  border-radius: 4px;
  padding: 2px 5px;
}
.main-content-title img {
  filter: invert(0);
}
.main-content-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
}
.example-title,
.limitation-title,
.capability-title {
  margin-bottom: 17px;
  text-align: center;
}
.example-inner-content,
.capability-inner-content,
.limitation-inner-content {
  display: grid;
  gap: 17px;
  grid-template-rows: 1fr 1fr 1fr;
}
.example-inner-content p,
.capability-inner-content p,
.limitation-inner-content p {
  background: #f7f9fb;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.example-title p,
.capability-title p,
.limitation-title p {
  font-size: 16px;
  font-weight: 700;
}
.inner-content img {
  height: 30px;
}
.main-content-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 70%;
  max-width: 900px;
  border-radius: 15px;
  background-color: #f7f9fb;
  margin-left: 45px;
}
.main-content-input input {
  outline: none;
  width: 100%;
  max-width: 500px;
  background-color: transparent;
  margin-left: 20px;
  padding: 15px;
}

.icon3 {
  position: absolute;
  height: 20px;
}
.icon2,
.icon1 {
  position: absolute;
}

.icon1 {
  height: 29px;
  left: 2rem;
}
.icon2 {
  height: 20px;
  left: 4rem;
}
.icon3 {
  right: 3rem;
}
input::placeholder {
  font-size: 14px;
  font-weight: 300;
  padding-left: 2rem;
}
